<!doctype html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
  </head>
  <body class="min-h-screen flex items-center justify-center p-6">
    <div class="@container w-full max-w-xl bg-white rounded-2xl shadow-xl p-8 text-center space-y-6">
      <div class="grid gap-2 text-2xl font-semibold">
        <div class="items-center">
          <img src="/static/logo.png" alt="aa" class="mx-auto">
        </div>
        <div>Ondokuz Mayıs Üniversitesi</div>
        <div>Sınav Oturma Listesi</div>
      </div>

      <input
        type="text"
        placeholder="Öğrenci no veya isim girin"
        class="w-full px-4 py-2 rounded-lg border border-gray-300 focus:outline-none focus:ring-2 focus:ring-blue-400"
      />
    </div>
  </body>
</html>
